{{ template "myHeader" . }}

// Create a new {{ pascalize .Name }}
func ({{.ReceiverName}} *{{ pascalize .Name }}) Create(b []byte) error {

}

// Get by Id
func ({{.ReceiverName}} *{{ pascalize .Name }}) GetById(b []byte) error {

}

// Get list
func ({{.ReceiverName}} *{{ pascalize .Name }}) GetList(b []byte) error {

}

// Update
func ({{.ReceiverName}} *{{ pascalize .Name }}) Update(b []byte) error {

}

// Delete
func ({{.ReceiverName}} *{{ pascalize .Name }}) Destroy(b []byte) error {

}
